In [9]:
import pandas as pd
import numpy as np

In [19]:
# Importing datasets
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

# verify the import so displaying to see what's there
print("---Movies Dataset---")
print(movies.head())

---Movies Dataset---
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

In [20]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [209]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
print("\nCredits Dataset:")
print(credits.head())

Credits Dataset:
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [44]:
import pandas as pd 
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = movies.merge(credits, on='title')

In [46]:
movies.shape

(4809, 23)

In [47]:
credits.shape

(4803, 4)

In [57]:
# Choosing important columns from movies dataset
# genres
# id
# keywords
# title
# overview
# Cast 
# Crew 

movies = movies[['movie_id', 'title', 'overview','genres', 'keywords', 'cast', 'crew' ]]

In [55]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [59]:
# creating new dataframe. It will contain three column. Movie ID | Title | Tags , for that I will merge genres overview keywords cast and crew columns. 
#To do that. I will have to remove special character and then move on merging the columns.

In [63]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [64]:
#Three movies doesn't have overview. Therefore, dropping them.
movies.dropna(inplace=True)

C:\Users\deven\AppData\Local\Temp\ipykernel_12860\2400437117.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [65]:
#checking for duplicated values/movies

movies.duplicated().sum()

np.int64(0)

In [67]:
#data cleaning for genre column
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [72]:
import ast 
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

#because of strings the obj couldn't pass. therefore, we need to pass these strings as list. 
#We have a module in py called as 'ast' and a function called as literal_eval which will conver the string to list.

In [75]:
movies['genres'] = movies['genres'].apply(convert)

In [78]:
# data cleaning for keywords column by using the same function. 
movies['keywords'] = movies['keywords'].apply(convert)

In [84]:
#In cast, We need top 3 casts. Therefore, i will have to enter cast's actual name from the cast column. 
# for that, I am using the same function as above literal_eval. 
#this time setting the counter to 3 to get top 3, append it and increment the count else will break it

import ast 
def convert(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [82]:
movies['cast'] = movies['cast'].apply(convert)

In [92]:
# for crew column,we have alot of dictionaries. We are interested in job_value is "Director". 
# Because any watcher will be interested to know who the director is. 

import ast 
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [94]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [97]:
#converting overview column to list. 
movies['overview'].apply(lambda x:x.split()) #this will help me getting each row as a list.

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [98]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [102]:
# There are empty spaces in genres,keywords,cast,crew columns. To avoid future ambiguity in fetching. I will have to apply transformation
# Applying the transformation for all columns. 

movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [101]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [109]:
# creating tags column which will be the concatenation of all columns
# also using lambda function and isinstance() to check if the list type before joining elemes
# this will help in handle cases where column contains lists and it will join them with spaces
# Convert lists to strings before concatenation

movies['tags'] = (
    movies['overview'] + ' ' + 
    movies['genres'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x)) + ' ' + 
    movies['keywords'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x)) + ' ' + 
    movies['cast'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x)) + ' ' + 
    movies['crew'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x))
)

In [107]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"John Carter is a war-weary, former military ca..."

In [211]:
import pandas as pd
from collections import Counter
all_genres = []
for genre_list in movies['genres']:
    all_genres.extend(genre_list)
genre_freq = Counter(all_genres)
top_10 = genre_freq.most_common(10)

# Convert to DataFrame for display
genre_table = pd.DataFrame(top_10, columns=['Genre', 'Frequency'])
print(genre_table)

            Genre  Frequency
0           Drama       2299
1          Comedy       1723
2        Thriller       1275
3          Action       1156
4         Romance        895
5       Adventure        792
6           Crime        697
7  ScienceFiction        538
8          Horror        520
9          Family        514

In [213]:
import pandas as pd
from collections import Counter

all_actors = []
for cast_list in movies['cast']:
    all_actors.extend(cast_list)
actor_freq = Counter(all_actors)
top_10_actors = actor_freq.most_common(10)

# Convert to DataFrame for display
actor_table = pd.DataFrame(top_10_actors, columns=['Actor', 'Frequency'])
print(actor_table)

              Actor  Frequency
0      RobertDeNiro         46
1   SamuelL.Jackson         35
2       BruceWillis         35
3         MattDamon         35
4       NicolasCage         34
5        JohnnyDepp         32
6          BradPitt         30
7          TomHanks         29
8     MorganFreeman         29
9  DenzelWashington         29

In [110]:
new_df = movies[['movie_id', 'title', 'tags']]

In [114]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [116]:
#converting to lowercase. 
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\deven\AppData\Local\Temp\ipykernel_12860\43564623.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [117]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [145]:
import nltk

In [147]:
from nltk.stem.porter import PorterStemmer 
ps = PorterStemmer()

In [148]:
def stem(text):
    y = []
    for i in text.split():
       y.append(ps.stem(i))
    return " ".join(y)

In [156]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\deven\AppData\Local\Temp\ipykernel_12860\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [118]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [119]:
new_df['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

In [121]:
# using text vectorization. Currently the data is in this format. 
# movie_id | Name | Tags 
      # Now, I need to convert these tags in to vectors.
      # Basically, I will convert " text --> Vectors" I am going to use 'bag of words'
      # for that I will have to combine all the tags(words). 
      # In this process. I will not be considering the "Stop Words"

In [159]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [158]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [157]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [168]:
text_data = ["captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"]
cv.fit(text_data)
cv.get_feature_names_out()

array(['action', 'adventure', 'aftercreditsstinger', 'afterlife',
       'alliance', 'and', 'as', 'back', 'barbossa', 'be', 'believed',
       'but', 'calypso', 'captain', 'come', 'dead', 'drugabuse', 'earth',
       'eastindiatradingcompany', 'edge', 'elizabeth', 'exoticisland',
       'fantasy', 'fighter', 'goreverbinski', 'has', 'headed', 'is', 'it',
       'johnnydepp', 'keiraknightley', 'life', 'long', 'loveofone',
       'nothing', 'ocean', 'of', 'orlandobloom', 'pirate', 'quite',
       'seems', 'ship', 'shipwreck', 'slife', 'strongwoman', 'swann',
       'swashbuckler', 'the', 'to', 'traitor', 'turner', 'will', 'with'],
      dtype=object)

In [178]:
from sklearn.metrics.pairwise import cosine_similarity

In [179]:
cosine_similarity(vectors)

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [180]:
cosine_similarity(vectors).shape

(4806, 4806)

In [181]:
similarity = cosine_similarity(vectors)

In [193]:
similarity[1]

array([0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
       0.02615329])

In [194]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == 'movie'].index[0]
    distances = similarity[movie_index]
    return

In [252]:
#now when sorted 
sorted(list(enumerate(similarity[0])),reverse=True)

[(4805, np.float64(0.0)),
 (4804, np.float64(0.0)),
 (4803, np.float64(0.04499212706658476)),
 (4802, np.float64(0.046829290579084706)),
 (4801, np.float64(0.019252140716412975)),
 (4800, np.float64(0.0)),
 (4799, np.float64(0.052631578947368425)),
 (4798, np.float64(0.04223886030955117)),
 (4797, np.float64(0.0)),
 (4796, np.float64(0.0)),
 (4795, np.float64(0.0)),
 (4794, np.float64(0.0)),
 (4793, np.float64(0.05407380704358751)),
 (4792, np.float64(0.0)),
 (4791, np.float64(0.0)),
 (4790, np.float64(0.0582716546748065)),
 (4789, np.float64(0.060833032924035954)),
 (4788, np.float64(0.0)),
 (4787, np.float64(0.019117977822546817)),
 (4786, np.float64(0.0)),
 (4785, np.float64(0.019672236884115842)),
 (4784, np.float64(0.043355498476206004)),
 (4783, np.float64(0.0)),
 (4782, np.float64(0.025649458802128853)),
 (4781, np.float64(0.0582716546748065)),
 (4780, np.float64(0.0)),
 (4779, np.float64(0.0)),
 (4778, np.float64(0.0)),
 (4777, np.float64(0.10814761408717502)),
 (4776, np.float64(0.0)),
 (4775, np.float64(0.05647824947249051)),
 (4774, np.float64(0.0)),
 (4773, np.float64(0.029617443887954616)),
 (4772, np.float64(0.023918243661746996)),
 (4771, np.float64(0.039344473768231684)),
 (4770, np.float64(0.0)),
 (4769, np.float64(0.0)),
 (4768, np.float64(0.0)),
 (4767, np.float64(0.03627381250550058)),
 (4766, np.float64(0.017195436249022724)),
 (4765, np.float64(0.0)),
 (4764, np.float64(0.0)),
 (4763, np.float64(0.0)),
 (4762, np.float64(0.0)),
 (4761, np.float64(0.02742042485535409)),
 (4760, np.float64(0.025334729596907)),
 (4759, np.float64(0.019389168358237032)),
 (4758, np.float64(0.0)),
 (4757, np.float64(0.046829290579084706)),
 (4756, np.float64(0.0)),
 (4755, np.float64(0.026315789473684213)),
 (4754, np.float64(0.08603090020146066)),
 (4753, np.float64(0.0)),
 (4752, np.float64(0.029617443887954616)),
 (4751, np.float64(0.021119430154775586)),
 (4750, np.float64(0.0)),
 (4749, np.float64(0.0)),
 (4748, np.float64(0.01981850088223545)),
 (4747, np.float64(0.0)),
 (4746, np.float64(0.0)),
 (4745, np.float64(0.0)),
 (4744, np.float64(0.03065696697424829)),
 (4743, np.float64(0.014627012952620635)),
 (4742, np.float64(0.040555355282690636)),
 (4741, np.float64(0.0)),
 (4740, np.float64(0.0)),
 (4739, np.float64(0.025649458802128853)),
 (4738, np.float64(0.0)),
 (4737, np.float64(0.0837707816583391)),
 (4736, np.float64(0.0)),
 (4735, np.float64(0.0)),
 (4734, np.float64(0.024115646544478436)),
 (4733, np.float64(0.0)),
 (4732, np.float64(0.0)),
 (4731, np.float64(0.02782074420373286)),
 (4730, np.float64(0.02294157338705618)),
 (4729, np.float64(0.0)),
 (4728, np.float64(0.0)),
 (4727, np.float64(0.0533380747062665)),
 (4726, np.float64(0.0)),
 (4725, np.float64(0.0)),
 (4724, np.float64(0.0)),
 (4723, np.float64(0.0)),
 (4722, np.float64(0.04120428217151646)),
 (4721, np.float64(0.0)),
 (4720, np.float64(0.028239124736245257)),
 (4719, np.float64(0.0)),
 (4718, np.float64(0.040555355282690636)),
 (4717, np.float64(0.0)),
 (4716, np.float64(0.0)),
 (4715, np.float64(0.0)),
 (4714, np.float64(0.0)),
 (4713, np.float64(0.023174488732966077)),
 (4712, np.float64(0.02271554252121273)),
 (4711, np.float64(0.056573571480353566)),
 (4710, np.float64(0.0)),
 (4709, np.float64(0.0)),
 (4708, np.float64(0.0)),
 (4707, np.float64(0.025649458802128853)),
 (4706, np.float64(0.011302501972710611)),
 (4705, np.float64(0.0)),
 (4704, np.float64(0.06362847629757779)),
 (4703, np.float64(0.03382550457458692)),
 (4702, np.float64(0.0)),
 (4701, np.float64(0.0)),
 (4700, np.float64(0.03244428422615251)),
 (4699, np.float64(0.05564148840746572)),
 (4698, np.float64(0.0)),
 (4697, np.float64(0.0)),
 (4696, np.float64(0.014567913668701625)),
 (4695, np.float64(0.040555355282690636)),
 (4694, np.float64(0.022075539284417398)),
 (4693, np.float64(0.0602475233128778)),
 (4692, np.float64(0.0)),
 (4691, np.float64(0.052631578947368425)),
 (4690, np.float64(0.023918243661746996)),
 (4689, np.float64(0.0)),
 (4688, np.float64(0.0)),
 (4687, np.float64(0.0)),
 (4686, np.float64(0.0)),
 (4685, np.float64(0.0)),
 (4684, np.float64(0.0)),
 (4683, np.float64(0.0)),
 (4682, np.float64(0.0)),
 (4681, np.float64(0.0)),
 (4680, np.float64(0.05923488777590923)),
 (4679, np.float64(0.04499212706658476)),
 (4678, np.float64(0.0)),
 (4677, np.float64(0.0)),
 (4676, np.float64(0.0)),
 (4675, np.float64(0.027036903521793755)),
 (4674, np.float64(0.02249606353329238)),
 (4673, np.float64(0.11846977555181847)),
 (4672, np.float64(0.04588314677411236)),
 (4671, np.float64(0.028239124736245257)),
 (4670, np.float64(0.03673591791853225)),
 (4669, np.float64(0.028676966733820218)),
 (4668, np.float64(0.0)),
 (4667, np.float64(0.02742042485535409)),
 (4666, np.float64(0.03181423814878889)),
 (4665, np.float64(0.0)),
 (4664, np.float64(0.06131393394849658)),
 (4663, np.float64(0.0)),
 (4662, np.float64(0.0207703246198632)),
 (4661, np.float64(0.03181423814878889)),
 (4660, np.float64(0.0)),
 (4659, np.float64(0.031219527052723135)),
 (4658, np.float64(0.0)),
 (4657, np.float64(0.08111071056538127)),
 (4656, np.float64(0.019389168358237032)),
 (4655, np.float64(0.039344473768231684)),
 (4654, np.float64(0.0837707816583391)),
 (4653, np.float64(0.0)),
 (4652, np.float64(0.06131393394849658)),
 (4651, np.float64(0.040555355282690636)),
 (4650, np.float64(0.0)),
 (4649, np.float64(0.0)),
 (4648, np.float64(0.018731716231633878)),
 (4647, np.float64(0.021119430154775586)),
 (4646, np.float64(0.039344473768231684)),
 (4645, np.float64(0.0)),
 (4644, np.float64(0.0)),
 (4643, np.float64(0.04188539082916955)),
 (4642, np.float64(0.0331133089266261)),
 (4641, np.float64(0.08111071056538127)),
 (4640, np.float64(0.07254762501100118)),
 (4639, np.float64(0.0)),
 (4638, np.float64(0.07079923254047887)),
 (4637, np.float64(0.0)),
 (4636, np.float64(0.057353933467640436)),
 (4635, np.float64(0.039344473768231684)),
 (4634, np.float64(0.025976216673306556)),
 (4633, np.float64(0.02666903735313325)),
 (4632, np.float64(0.03458572319330373)),
 (4631, np.float64(0.0)),
 (4630, np.float64(0.03419927840283847)),
 (4629, np.float64(0.02913582733740325)),
 (4628, np.float64(0.0)),
 (4627, np.float64(0.04024218182927669)),
 (4626, np.float64(0.08111071056538127)),
 (4625, np.float64(0.0)),
 (4624, np.float64(0.07694837640638656)),
 (4623, np.float64(0.06488856845230502)),
 (4622, np.float64(0.03458572319330373)),
 (4621, np.float64(0.0)),
 (4620, np.float64(0.025031308716087945)),
 (4619, np.float64(0.04499212706658476)),
 (4618, np.float64(0.029617443887954616)),
 (4617, np.float64(0.0)),
 (4616, np.float64(0.0)),
 (4615, np.float64(0.0)),
 (4614, np.float64(0.0)),
 (4613, np.float64(0.0)),
 (4612, np.float64(0.0)),
 (4611, np.float64(0.03382550457458692)),
 (4610, np.float64(0.0)),
 (4609, np.float64(0.0)),
 (4608, np.float64(0.0)),
 (4607, np.float64(0.0415406492397264)),
 (4606, np.float64(0.04188539082916955)),
 (4605, np.float64(0.02666903735313325)),
 (4604, np.float64(0.03382550457458692)),
 (4603, np.float64(0.0)),
 (4602, np.float64(0.05407380704358751)),
 (4601, np.float64(0.0)),
 (4600, np.float64(0.01981850088223545)),
 (4599, np.float64(0.0)),
 (4598, np.float64(0.0)),
 (4597, np.float64(0.021486752129677003)),
 (4596, np.float64(0.051298917604257706)),
 (4595, np.float64(0.0)),
 (4594, np.float64(0.0)),
 (4593, np.float64(0.0)),
 (4592, np.float64(0.0)),
 (4591, np.float64(0.057353933467640436)),
 (4590, np.float64(0.04783648732349399)),
 (4589, np.float64(0.02666903735313325)),
 (4588, np.float64(0.0)),
 (4587, np.float64(0.08671099695241201)),
 (4586, np.float64(0.0)),
 (4585, np.float64(0.0)),
 (4584, np.float64(0.0)),
 (4583, np.float64(0.0)),
 (4582, np.float64(0.052786150730834015)),
 (4581, np.float64(0.0331133089266261)),
 (4580, np.float64(0.03181423814878889)),
 (4579, np.float64(0.029617443887954616)),
 (4578, np.float64(0.0582716546748065)),
 (4577, np.float64(0.0)),
 (4576, np.float64(0.02294157338705618)),
 (4575, np.float64(0.0)),
 (4574, np.float64(0.017005425596285897)),
 (4573, np.float64(0.03721614637823934)),
 (4572, np.float64(0.0)),
 (4571, np.float64(0.0)),
 (4570, np.float64(0.0301237616564389)),
 (4569, np.float64(0.028676966733820218)),
 (4568, np.float64(0.08111071056538127)),
 (4567, np.float64(0.0)),
 (4566, np.float64(0.06131393394849658)),
 (4565, np.float64(0.014686837386151168)),
 (4564, np.float64(0.04188539082916955)),
 (4563, np.float64(0.0)),
 (4562, np.float64(0.0)),
 (4561, np.float64(0.0)),
 (4560, np.float64(0.08471737420873576)),
 (4559, np.float64(0.03673591791853225)),
 (4558, np.float64(0.076004188790721)),
 (4557, np.float64(0.03823595564509363)),
 (4556, np.float64(0.0)),
 (4555, np.float64(0.040555355282690636)),
 (4554, np.float64(0.03627381250550058)),
 (4553, np.float64(0.024455799402225926)),
 (4552, np.float64(0.04120428217151646)),
 (4551, np.float64(0.0)),
 (4550, np.float64(0.0)),
 (4549, np.float64(0.023918243661746996)),
 (4548, np.float64(0.0)),
 (4547, np.float64(0.0)),
 (4546, np.float64(0.0)),
 (4545, np.float64(0.09558988911273408)),
 (4544, np.float64(0.0)),
 (4543, np.float64(0.02742042485535409)),
 (4542, np.float64(0.07443229275647868)),
 (4541, np.float64(0.0)),
 (4540, np.float64(0.05407380704358751)),
 (4539, np.float64(0.0)),
 (4538, np.float64(0.13629325512727639)),
 (4537, np.float64(0.0)),
 (4536, np.float64(0.02913582733740325)),
 (4535, np.float64(0.03382550457458692)),
 (4534, np.float64(0.0)),
 (4533, np.float64(0.051298917604257706)),
 (4532, np.float64(0.033463724070512735)),
 (4531, np.float64(0.0)),
 (4530, np.float64(0.050669459193814)),
 (4529, np.float64(0.01255307044856882)),
 (4528, np.float64(0.04891159880445185)),
 (4527, np.float64(0.0)),
 (4526, np.float64(0.0)),
 (4525, np.float64(0.04456565178215865)),
 (4524, np.float64(0.023918243661746996)),
 (4523, np.float64(0.0)),
 (4522, np.float64(0.013809204416652687)),
 (4521, np.float64(0.0)),
 (4520, np.float64(0.0)),
 (4519, np.float64(0.05006261743217589)),
 (4518, np.float64(0.0)),
 (4517, np.float64(0.0)),
 (4516, np.float64(0.08671099695241201)),
 (4515, np.float64(0.0)),
 (4514, np.float64(0.02913582733740325)),
 (4513, np.float64(0.0)),
 (4512, np.float64(0.05006261743217589)),
 (4511, np.float64(0.027036903521793755)),
 (4510, np.float64(0.025649458802128853)),
 (4509, np.float64(0.0)),
 (4508, np.float64(0.0)),
 (4507, np.float64(0.0)),
 (4506, np.float64(0.07987230638308718)),
 (4505, np.float64(0.029617443887954616)),
 (4504, np.float64(0.0)),
 (4503, np.float64(0.0)),
 (4502, np.float64(0.09365858115816941)),
 (4501, np.float64(0.0)),
 (4500, np.float64(0.0)),
 (4499, np.float64(0.0)),
 (4498, np.float64(0.025031308716087945)),
 (4497, np.float64(0.0)),
 (4496, np.float64(0.0)),
 (4495, np.float64(0.0)),
 (4494, np.float64(0.0)),
 (4493, np.float64(0.0)),
 (4492, np.float64(0.08111071056538127)),
 (4491, np.float64(0.0)),
 (4490, np.float64(0.09933992677987831)),
 (4489, np.float64(0.015682536711195138)),
 (4488, np.float64(0.0)),
 (4487, np.float64(0.021873931962990357)),
 (4486, np.float64(0.03382550457458692)),
 (4485, np.float64(0.029617443887954616)),
 (4484, np.float64(0.020942695414584774)),
 (4483, np.float64(0.07098727864204515)),
 (4482, np.float64(0.03244428422615251)),
 (4481, np.float64(0.0)),
 (4480, np.float64(0.0)),
 (4479, np.float64(0.0)),
 (4478, np.float64(0.0)),
 (4477, np.float64(0.03823595564509363)),
 (4476, np.float64(0.0)),
 (4475, np.float64(0.0)),
 (4474, np.float64(0.03627381250550058)),
 (4473, np.float64(0.07647191129018727)),
 (4472, np.float64(0.09733285267845754)),
 (4471, np.float64(0.03797316245786213)),
 (4470, np.float64(0.0)),
 (4469, np.float64(0.025649458802128853)),
 (4468, np.float64(0.11128297681493143)),
 (4467, np.float64(0.028676966733820218)),
 (4466, np.float64(0.03905832834322535)),
 (4465, np.float64(0.0)),
 (4464, np.float64(0.0)),
 (4463, np.float64(0.03627381250550058)),
 (4462, np.float64(0.0)),
 (4461, np.float64(0.0)),
 (4460, np.float64(0.03721614637823934)),
 (4459, np.float64(0.05195243334661311)),
 (4458, np.float64(0.04891159880445185)),
 (4457, np.float64(0.0)),
 (4456, np.float64(0.0)),
 (4455, np.float64(0.0)),
 (4454, np.float64(0.0)),
 (4453, np.float64(0.0415406492397264)),
 (4452, np.float64(0.0)),
 (4451, np.float64(0.04499212706658476)),
 (4450, np.float64(0.025334729596907)),
 (4449, np.float64(0.0)),
 (4448, np.float64(0.044612439880905165)),
 (4447, np.float64(0.0)),
 (4446, np.float64(0.023662426214015053)),
 (4445, np.float64(0.0)),
 (4444, np.float64(0.0)),
 (4443, np.float64(0.07254762501100116)),
 (4442, np.float64(0.0)),
 (4441, np.float64(0.0)),
 (4440, np.float64(0.0)),
 (4439, np.float64(0.0)),
 (4438, np.float64(0.0)),
 (4437, np.float64(0.0331133089266261)),
 (4436, np.float64(0.0)),
 (4435, np.float64(0.0)),
 (4434, np.float64(0.03244428422615251)),
 (4433, np.float64(0.03181423814878889)),
 (4432, np.float64(0.0)),
 (4431, np.float64(0.07254762501100116)),
 (4430, np.float64(0.0)),
 (4429, np.float64(0.055460539998490176)),
 (4428, np.float64(0.0)),
 (4427, np.float64(0.04456565178215865)),
 (4426, np.float64(0.0)),
 (4425, np.float64(0.0)),
 (4424, np.float64(0.0)),
 (4423, np.float64(0.0)),
 (4422, np.float64(0.025031308716087945)),
 (4421, np.float64(0.03382550457458692)),
 (4420, np.float64(0.029617443887954616)),
 (4419, np.float64(0.0)),
 (4418, np.float64(0.0)),
 (4417, np.float64(0.0)),
 (4416, np.float64(0.0)),
 (4415, np.float64(0.0)),
 (4414, np.float64(0.03382550457458692)),
 (4413, np.float64(0.023174488732966077)),
 (4412, np.float64(0.07443229275647868)),
 (4411, np.float64(0.0)),
 (4410, np.float64(0.025649458802128853)),
 (4409, np.float64(0.0)),
 (4408, np.float64(0.0602475233128778)),
 (4407, np.float64(0.0)),
 (4406, np.float64(0.028239124736245257)),
 (4405, np.float64(0.18731716231633883)),
 (4404, np.float64(0.0)),
 (4403, np.float64(0.09733285267845754)),
 (4402, np.float64(0.0301237616564389)),
 (4401, np.float64(0.024738534799764674)),
 (4400, np.float64(0.039344473768231684)),
 (4399, np.float64(0.04588314677411236)),
 (4398, np.float64(0.02294157338705618)),
 (4397, np.float64(0.021300716142115247)),
 (4396, np.float64(0.0)),
 (4395, np.float64(0.0)),
 (4394, np.float64(0.0)),
 (4393, np.float64(0.0)),
 (4392, np.float64(0.06814662756363819)),
 (4391, np.float64(0.0)),
 (4390, np.float64(0.03823595564509363)),
 (4389, np.float64(0.02782074420373286)),
 (4388, np.float64(0.018024602347862503)),
 (4387, np.float64(0.0)),
 (4386, np.float64(0.0)),
 (4385, np.float64(0.0)),
 (4384, np.float64(0.043747863925980714)),
 (4383, np.float64(0.03498557142706598)),
 (4382, np.float64(0.03993615319154359)),
 (4381, np.float64(0.0)),
 (4380, np.float64(0.025334729596907)),
 (4379, np.float64(0.0)),
 (4378, np.float64(0.0)),
 (4377, np.float64(0.05484084971070818)),
 (4376, np.float64(0.0)),
 (4375, np.float64(0.040555355282690636)),
 (4374, np.float64(0.0)),
 (4373, np.float64(0.0)),
 (4372, np.float64(0.046829290579084706)),
 (4371, np.float64(0.023662426214015053)),
 (4370, np.float64(0.0)),
 (4369, np.float64(0.052631578947368425)),
 (4368, np.float64(0.03823595564509363)),
 (4367, np.float64(0.0)),
 (4366, np.float64(0.0)),
 (4365, np.float64(0.043355498476206004)),
 (4364, np.float64(0.0)),
 (4363, np.float64(0.0)),
 (4362, np.float64(0.04188539082916955)),
 (4361, np.float64(0.0)),
 (4360, np.float64(0.0)),
 (4359, np.float64(0.021300716142115247)),
 (4358, np.float64(0.05990422978731538)),
 (4357, np.float64(0.06243905410544627)),
 (4356, np.float64(0.0)),
 (4355, np.float64(0.06362847629757779)),
 (4354, np.float64(0.0)),
 (4353, np.float64(0.08998425413316952)),
 (4352, np.float64(0.0)),
 (4351, np.float64(0.0662266178532522)),
 (4350, np.float64(0.0)),
 (4349, np.float64(0.02913582733740325)),
 (4348, np.float64(0.13497638119975428)),
 (4347, np.float64(0.0)),
 (4346, np.float64(0.0)),
 (4345, np.float64(0.0)),
 (4344, np.float64(0.0)),
 (4343, np.float64(0.08998425413316952)),
 (4342, np.float64(0.0)),
 (4341, np.float64(0.07792865001991967)),
 (4340, np.float64(0.0)),
 (4339, np.float64(0.05484084971070818)),
 (4338, np.float64(0.0)),
 (4337, np.float64(0.0)),
 (4336, np.float64(0.17521916101261562)),
 (4335, np.float64(0.022282825891079324)),
 (4334, np.float64(0.0)),
 (4333, np.float64(0.040555355282690636)),
 (4332, np.float64(0.03627381250550058)),
 (4331, np.float64(0.0936585811581694)),
 (4330, np.float64(0.05775642214923893)),
 (4329, np.float64(0.050669459193814)),
 (4328, np.float64(0.0)),
 (4327, np.float64(0.025976216673306556)),
 (4326, np.float64(0.03721614637823934)),
 (4325, np.float64(0.046348977465932154)),
 (4324, np.float64(0.03065696697424829)),
 (4323, np.float64(0.025976216673306556)),
 (4322, np.float64(0.0)),
 (4321, np.float64(0.0)),
 (4320, np.float64(0.06131393394849658)),
 (4319, np.float64(0.03166237934306518)),
 (4318, np.float64(0.0)),
 (4317, np.float64(0.02249606353329238)),
 (4316, np.float64(0.07894736842105264)),
 (4315, np.float64(0.0)),
 (4314, np.float64(0.019117977822546817)),
 (4313, np.float64(0.028239124736245257)),
 (4312, np.float64(0.06362847629757779)),
 (4311, np.float64(0.0)),
 (4310, np.float64(0.038778336716474064)),
 (4309, np.float64(0.0)),
 (4308, np.float64(0.0)),
 (4307, np.float64(0.0)),
 (4306, np.float64(0.0)),
 (4305, np.float64(0.039344473768231684)),
 (4304, np.float64(0.0)),
 (4303, np.float64(0.0)),
 (4302, np.float64(0.0)),
 (4301, np.float64(0.0)),
 (4300, np.float64(0.040555355282690636)),
 (4299, np.float64(0.024182541670333724)),
 (4298, np.float64(0.0)),
 (4297, np.float64(0.03244428422615251)),
 (4296, np.float64(0.0)),
 (4295, np.float64(0.0)),
 (4294, np.float64(0.0)),
 (4293, np.float64(0.057353933467640436)),
 (4292, np.float64(0.0)),
 (4291, np.float64(0.0)),
 (4290, np.float64(0.06917144638660747)),
 (4289, np.float64(0.0)),
 (4288, np.float64(0.025976216673306556)),
 (4287, np.float64(0.023174488732966077)),
 (4286, np.float64(0.023414645289542353)),
 (4285, np.float64(0.0)),
 (4284, np.float64(0.024738534799764674)),
 (4283, np.float64(0.02742042485535409)),
 (4282, np.float64(0.03627381250550058)),
 (4281, np.float64(0.051298917604257706)),
 (4280, np.float64(0.023662426214015053)),
 (4279, np.float64(0.07868894753646337)),
 (4278, np.float64(0.0)),
 (4277, np.float64(0.018731716231633878)),
 (4276, np.float64(0.0)),
 (4275, np.float64(0.0)),
 (4274, np.float64(0.0)),
 (4273, np.float64(0.0)),
 (4272, np.float64(0.0)),
 (4271, np.float64(0.06362847629757779)),
 (4270, np.float64(0.05923488777590923)),
 (4269, np.float64(0.0)),
 (4268, np.float64(0.0)),
 (4267, np.float64(0.0)),
 (4266, np.float64(0.07694837640638656)),
 (4265, np.float64(0.0207703246198632)),
 (4264, np.float64(0.0)),
 (4263, np.float64(0.04891159880445185)),
 (4262, np.float64(0.025031308716087945)),
 (4261, np.float64(0.024182541670333724)),
 (4260, np.float64(0.0)),
 (4259, np.float64(0.039344473768231684)),
 (4258, np.float64(0.026315789473684213)),
 (4257, np.float64(0.057353933467640436)),
 (4256, np.float64(0.0)),
 (4255, np.float64(0.0)),
 (4254, np.float64(0.09733285267845754)),
 (4253, np.float64(0.0)),
 (4252, np.float64(0.0)),
 (4251, np.float64(0.0)),
 (4250, np.float64(0.013029938101426074)),
 (4249, np.float64(0.0)),
 (4248, np.float64(0.024455799402225926)),
 (4247, np.float64(0.019968076595771794)),
 (4246, np.float64(0.039344473768231684)),
 (4245, np.float64(0.0)),
 (4244, np.float64(0.05407380704358751)),
 (4243, np.float64(0.0)),
 (4242, np.float64(0.02925402590524127)),
 (4241, np.float64(0.040555355282690636)),
 (4240, np.float64(0.0)),
 (4239, np.float64(0.0)),
 (4238, np.float64(0.023174488732966077)),
 (4237, np.float64(0.0)),
 (4236, np.float64(0.05006261743217589)),
 (4235, np.float64(0.042973504259354006)),
 (4234, np.float64(0.04188539082916955)),
 (4233, np.float64(0.016386838133611553)),
 (4232, np.float64(0.05195243334661311)),
 (4231, np.float64(0.0)),
 (4230, np.float64(0.0)),
 (4229, np.float64(0.0)),
 (4228, np.float64(0.12824729401064427)),
 (4227, np.float64(0.0)),
 (4226, np.float64(0.03181423814878889)),

In [208]:
# now it has been sorted based on the  movie serial number not the indexed postition of the movie. 
# lambda function will give us next 5 recommendations 

sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, np.float64(0.2867696673382022)),
 (2405, np.float64(0.26901379342448517)),
 (3728, np.float64(0.2605130246476754)),
 (507, np.float64(0.255608593705383)),
 (539, np.float64(0.25038669783359574))]

In [250]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [253]:
recommend('Pulp Fiction')

Muppets Most Wanted
The Muppets
Cats Don't Dance
Rock of Ages
The Country Bears